@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Account" asp-action="Index">Index Acc</a>
<a asp-controller="Account" asp-action="Login">Login Acc</a>
<a asp-controller="Account" asp-action="Logout">Logout Acc</a><br>
<a asp-controller="Vacancy" asp-action="Index">list Vacancy</a>
<a asp-controller="Vacancy" asp-action="Create">Create Vacancy</a><br>
<a asp-controller="Applicant" asp-action="Index">List Applicant</a>
<a asp-controller="Applicant" asp-action="Create">Create Applicant</a>
@* <a asp-controller="Applicant" asp-action="Create">Create Applicant</a> *@